{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span>&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    {% include "accounts/snippets/form.html" with next=request.GET.next %}
                    
                    <div class="text-center mt-3">
                        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
                        <p>Want to become a merchant? <a href="{% url 'merchant_register' %}">Merchant Registration</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}